<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Weitere Steuerungen</title>
</head>
<body>
    <div id="app"></div>
    <div class="middle2"><h1>Smart Home - Weitere Steuerungen</h1></div>
    <!-- Back on to Main View -->
    <div class="top-right-button">
        <button id="goToMainView">Zurück zur Hauptansicht</button>
    </div>
    <h1></h1>
    <div class="device-container homecontrol2-container">
        <div class="device">
            <h2>Radio</h2>
            <div class="button-row">
            <button id="radioToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Party</h2>
            <div class="button-row">
            <button id="partyToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Morgenroutine</h2>
            <div class="button-row">
            <button id="morningroutinToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Linkin Park spielen</h2>
            <div class="button-row">
            <button id="linkinParkToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Verstecken</h2>
            <div class="button-row">
            <button id="hideToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Meeting Beginnen</h2>
            <div class="button-row">
            <button id="startMeetingToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Lüften</h2>
            <div class="button-row">
            <button id="ventilationToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Kaffemaschine</h2>
            <div class="button-row">
            <button id="coffeeToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Wohnung Reinigen</h2>
            <div class="button-row">
            <button id="clearToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Wohnung Verlassen</h2>
            <div class="button-row">
            <button id="leaveHomeToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Nach Hause Kommen</h2>
            <div class="button-row">
            <button id="arriveHomeToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Filmabend</h2>
            <div class="button-row">
            <button id="movieNightToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Energiesparen</h2>
            <div class="button-row">
            <button id="energySaveToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Wellnessmodus</h2>
            <div class="button-row">
            <button id="wellnessToggle" class="btn-off">AUS</button>
            </div>
        </div>
        <div class="device">
            <h2>Alles Zurücksetzen</h2>
            <div class="button-row">
            <button id="resetToggle">RESET</button>
            </div>
        </div>
    </div>
</body>
</html>
